//
// Navbar
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  border-width: 0;
}

// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {

  > li > a {
    font-size: @font-size-small;
  }

  > li > a.grayed-out {
    color: @text-color;
  }
}

// Component alignment
.navbar-right {
  margin-right: 0; //reset negative margin to make space for right aligned button
}
.navbar-btn-right.btn-sm {
 margin: 0;
}


@media (min-width: @screen-sm-max) {
  .navbar-btn-right {
    float: right!important; //!important necessary because of bootstrap conventions
    margin-right: -15px; //add negative margin to align with the grid
    padding-top: 8px;
    padding-bottom: 8px;
    border-width: 0;
    border-bottom-width: 2px;
    &.btn-sm {
      margin-top: 14.5px; // vertical align the buttons with the navbar height
      margin-bottom: 14.5px;
    }
  }
}


//
// Jumbotron
// --------------------------------------------------

.jumbotron-home {
  padding-top: 38px;
  padding-bottom: 38px;
  margin-bottom: 0;
  background-color: @gray-light;

  .pp-tagline-img {
    margin-right: auto;
    margin-left: auto;
  }
}


//
// Tabs Press
// --------------------------------------------------

.nav-tabs.nav-justified.nav-press {
  > li > a {
    margin-bottom: 0;
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
    background-color: @brand-primary;
    border: none;
    border-radius: 0;
  }
  > .active > a  {
    color: @brand-primary;
    background-color: #d3c82e;
    &focus,
    &:hover {
      border: none;
    }
  }
}



//
// Tabs Press Content
// --------------------------------------------------

.press-body {
  padding-top: 48px;
  padding-bottom: 20px;
  background: transparent url(../img/press-bg.jpg) no-repeat top left;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.panel-excerpt {
  margin-bottom: 28px;
  padding-left: @line-height-computed;
  padding-right: @line-height-computed;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 0;
  .box-shadow(none);

  .panel-heading {
    padding: 14px 0 0 0;
    background-color: transparent;
    border: none;
    img {
      padding-right: 25px;
    }
  }

  .panel-body {
    padding-left: 0;
    padding-right: 0;
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-style: italic;
      color: #52565b;
    }
  }
}

@media (min-width: @screen-sm-max) {
  .panel-excerpt {
    .panel-body {
      padding-left: 25px;
      padding-right: 15px;
    }
  }
}


//
// CTA Calls
// --------------------------------------------------

.cta-calls {
  margin-bottom: @line-height-computed;
  padding: 8px 0;
  background-color: @gray-lighter;
  
  > p {
    margin: 0;
    font-size: (@font-size-large - 1);
    text-align: center;
    color: #949697;
  }
}


//
// Press articles
// --------------------------------------------------

.press-article {
  margin-bottom: 12px;
  > div {
    padding-left: 2px;
    padding-right: 2px;
  }
  > div > div {
    min-height: 68px;
    background-color: @press-article-bg;
  }
}

.press-article-date {
  padding-top: 12px;
  text-align: center;

  .month {
    display: block;
    font-size: @font-size-small;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: @gray;
  }
  .day {
    display: block;
    font-size: 23px;
    line-height: 1;
    color: @gray;
  }
  .year {
    display: block;
    font-size: 10px;
    line-height: 1;
    color: @gray;
  }
}

.press-article-img {
  position: relative;

  // center the element both horizontally than vertically without knowing width and height
  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    @x: -50%;
    @y: -50%;
    .translate(@x; @y);
  }
}

.press-article-content {
  padding-left: 22px;
  padding-right: 22px;

  .article-content-type {
    font-style: normal;
    color: #d3c82e;
  }

  .press-article-header {
    position: relative;
    min-height: 68px;
  }

  // center the element both horizontally than vertically without knowing width and height
  .press-article-heading {
    position: relative;
    padding-top: 0;
    text-align: center;
    margin: 0;
    font-style: italic;
    color: @brand-primary;

    .press-article-content-type {
      font-style: normal;
      color: #d3c82e;
    }
  }

  .press-article-body {
    border-top: 1px solid darken(@press-article-bg, 10%);

    .press-article-video {
      padding: 20px 40px;
    }
  }
}

@media (min-width: @screen-sm-max) {
  .press-article-content .press-article-heading {
    position: absolute;
    top: 50%;
    @x: 0;
    @y: -50%;
    .translate(@x; @y);
  }
}

//
// Responsive youtube embed
// --------------------------------------------------

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


//
// Pagination (multiple pages)
// --------------------------------------------------

.pagination-articles {
  text-align: center;
} 
.pagination {
  margin-bottom: 30px;
  border-radius: 0;

  > li {
    > a,
    > span {
      background-color: @gray-lighter;
      border:none;
      margin-left: -1px;
    }
    > a[aria-label] {
      font-size: 22px;
      margin-right: 8px;
    }
    > a[aria-label="Next"],
    > a[aria-label="Previous"] {
      padding: 1px 10px 0 9px;
    }
    > a[aria-label="Next"] {
      margin-left: 8px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        padding: 1px 4px 0 3px;
        .border-left-radius(0);
      }
    }
    &:last-child {
      > a,
      > span {
        padding: 1px 4px 0 3px;
        .border-right-radius(0);
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      background-color: #fff;
    }
  }
}


//
// Footer
// --------------------------------------------------

.site-footer {
  padding: (@line-height-computed * 2) 0;
  background-color: @footer-bg;
}
.site-footer-heading {
  margin-top: @line-height-computed;
  
  text-transform: uppercase;
  color: #fff;
}
.site-footer-nav > li > a {
  font-size: @font-size-small;
  line-height: 2.6;
  color: @footer-color;
}
.site-footer-copyright {
  margin-top: 10px;
  font-size: @font-size-small;
  color: @footer-color;
}
.footer-logo {
  display: block;
  width: 50%;
}
.numero-verde {
  display: block;
  margin: (@line-height-computed) 0 0 0;
}

@media (min-width: @screen-sm-max) {
  .site-footer-heading {
    margin-top: 0;
  }
  .site-footer-copyright {
    text-align: left;
  }
  .footer-logo {
    display: block;
    width: 70%;
    margin-right: 0;
    margin-left: 0;
  }
  .numero-verde {
    display: block;
    margin: 0;
  }
}