//
// Navbar
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  border-width: 0;
}


// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {

  > li > a {
    font-size: @font-size-small;
  }

  > li > a.grayed-out {
    color: @text-color;


  }
}

// Component alignment
.navbar-right {
  margin-right: 0; //reset negative margin to make space for right aligned button
}
.navbar-btn-right {
  float: right!important; //!important necessary because of bootstrap conventions
  margin-right: -15px; //add negative margin to align with the grid
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 0;
  border-bottom-width: 2px;
  &.btn-sm {
    margin-top: 14.5px; // vertical align the buttons with the navbar height
    margin-bottom: 14.5px;
  }
}


//
// Jumbotron
// --------------------------------------------------

.jumbotron-home {
  padding-top: 38px;
  padding-bottom: 38px;
  margin-bottom: 0;
  background-color: @gray-light;

  .pp-tagline-img {
    margin-right: auto;
    margin-left: auto;
  }
}


//
// Tabs Press
// --------------------------------------------------

.nav-tabs.nav-justified.nav-press {
  > li > a {
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
    background-color: @brand-primary;
    border: none;
    border-radius: 0;
  }
  > .active > a  {
    color: @brand-primary;
    background-color: #d3c82e;
    &focus,
    &:hover {
      border: none;
    }
  }
}


//
// Tabs Press Content
// --------------------------------------------------

.panel-excerpt {
  margin-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 0;
  .box-shadow(none);

  .panel-heading {
    padding: 14px 0 0 0;
    background-color: transparent;
    border: none;
    img {
      padding-right: 25px;
    }
  }

  .panel-body {
    padding-left: 25px;
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-style: italic;
      color: #52565b;
    }
  }
}


//
// CTA Calls
// --------------------------------------------------

.cta-calls {
  padding: 5px 0;
  background-color: @gray-lighter;
  
  > p {
    margin: 0;
    font-size: (@font-size-large - 1);
    text-align: center;
    color: #949697;
  }
}


